.body {
    background-color:ivory;
}

.header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.main {
    background-color: darkorchid;
    padding: 20px;
}

.h1 {
    font-family: 'Segoe UI';
    margin: 0;
    font-size: 26px;
}

.h2 {
    font-family: 'Segoe UI';
    color: mediumblue;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.p1 {
    font-family: 'Franklin Gothic Medium';
    color: palegreen;
    font-size: 14px;
    text-align: center;
}

.p2{
    font-family:'Gill Sans'; 
    color: lightsalmon;
    font-size: 16px;
}

.p3 {
    font-family:'Gill Sans';
    color: black;
    padding: 20px;
}


.footerbackground {
    background-color: darkolivegreen;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium';
    color: whitesmoke;
    text-align: left;
    padding: 10px;
    margin: 10px 0;
}

.cheersImage{
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.button {
    background-color:aquamarine;
    text-align: center;
}

@media (max-width: 768px) {
    .header
    {
        text-align: center;
        padding: 15px;
    }

     .main {
        padding: 15px;
    }
    
    .h1 {
        font-size: 22px;
        color: black;
    }
    
    .h2 {
        font-size: 18px;
        color: black;
    }
    
    .p1{
        font-size: 16px;
        color: darkslategray;
    } 
    
    .p2{
        font-size: 14px;
        color: darkslategray;
    }
     .p3 {
        font-size: 12px;
        color: black;
    }
    
    .cheersImage {
        max-width: 15%;
    }

    .fotter {
        text-align: center;
        padding: 10px;
    }

    .button {
        font-size: 12px;
        color: darkslategray;
    }
    .body{
        background-color: mediumorchid;
    }
}